.outer-board
  .wood-board
    .inner-board
      .message
        = link_to 'Start Game', new_field_path
      - if current_or_guest_user.guest
        .small-message
          = link_to 'Sign in to challenge you friends!', new_user_session_path
      - else
        .small-message
          = link_to 'Challenge you friends!', '#', 'data-reveal-id' => 'challenge'

          %br
          %br
          #top_friends

  .history
    -@fields.each do |field|
      = field.inspect
      .row.match
        .small-4.columns.text-left-align
          = image_tag "http://graph.facebook.com/#{current_user.uid}/picture", alt:'', class:'profile-pic'
          = current_user.name
        .small-4.columns.text-center-align
          .score-wrap
            0
            .vr vs
            0
        .small-4.columns.text-right-align
          .profile-pic
          User 2