.outer-board
  .wood-board
    .inner-board
      .message
        = link_to 'Start Game', new_field_path
      .small-message
        = link_to 'Sign in to challenge you friends!', new_user_session_path, class:'small-message'

  .history
    -@fields.each do |field|
      .row.match
        .small-4.columns.text-left-align
          = image_tag "http://graph.facebook.com/#{current_user.uid}/picture", alt:'', class:'profile-pic'
          = current_user.name
        .small-4.columns.text-center-align
          .score-wrap
            0
            .vr vs
            0
        .small-4.columns.text-right-align
          .profile-pic
          User 2